body {
    padding: 0;
    margin: 0;
}

.footerContainer {
    width: 100%;
    height: 500px;
    background-color: #4a4a4a;
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    color: white;
    justify-content: space-between;
}


.footerColumn {
    display: flex;
    flex-direction: column;
}

.columnTitle {
    font-weight: bold;
    margin: 20px 0;
}

.LinkItem {
    cursor: pointer;
    margin: 10px 0;
}
.LinkItem:hover {
    color: yellow;
}